
body{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 48px;
    margin-bottom: 30px;
    color: black;
}
h5{
    margin-bottom: 0px;
    color: #1200FF;
}
a:hover{
    text-decoration: none;
}
a i{
    font-size: 22px;
    color: #FFFFFF;
}
p{
    font-size: 18px;
    color: #000000;
    line-height: 1.8;
    margin-bottom: 0;
}
section{
    padding: 100px 0;
}
.g-light-grey{
background-color: #f5f5f5;
}
.topmargin-xs{
    margin-top: 15px;
}
.topmargin-sm{
    margin-top: 30px;
}
.topmargin-lg{
    margin-top: 60px;
}
.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-light{
    background-color:white ;
    color: black;
    border: 2px solid#FFFFFF;
}
.btn-dark{
    background-color: black;
    color: white;
    border: 2px solid #FFFFFF;
}
.btn-transparent:hover{
    color: #FFFFFF;
}
.full-width{
    width: 100%;
}
.btn i{
    font-size: 14px;
    margin-left: 5px;
}
.text-dark{
    color: #1a1a1a;
}
.divider{
    border-bottom: solid #dce1de;
}
.navbar{
    background-color: #383030;
    box-shadow: 0 2px 4px 0 rgba(0,0,0);
    height: 56px;
    padding: 0 16px;
  }
.nav-link{
color:#FFFFFF;
font-size: 22px;
}
.nav-link:hover{
    color: #1200FF
}
.logo-brand{
    min-width: 45px;
    max-width: 65px;
    padding-right: 10px;
}
.logo-brand2{
    min-width: 10px;
    max-width: 30px;
    padding-right: 3px;
    padding-top: 10px;
  }
  .logo-brand3{
    min-width: 10px;
    max-width: 30px;
    padding-right: 5px;
  }
  .logo-brand4{
    min-width: 220px;
    max-width: 250px;
    padding-bottom: 0.5cm;
  }
.navbar-toggler{
    color: white;
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
/* recordatorio cambiar css a su carpeta, corregir ruta de los archivos y del "#hero" donde está resident evil */
#hero{
    background-image: url('imagenes/re.jpeg');
    background-size:cover ;
    padding-top: 90px;
    min-height: 700px;
    color: #FFFFFF;
}
#hero p{
    color: #030650;
    font-size: 30px;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #0A1250;
    font: bold;
}
.juegos-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}
.juegos-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.juegos-container:hover img{
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
.juegos-details{
    position: absolute ;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}
.juegos-details h2{
    margin-bottom: 0px;
}
.juegos-details a h2, .juegos-details a p{
    color: #ffffff;
}
.member-container{
    position: relative;
    margin: 10px 0;
}
.member-details{
    position: absolute;
    color: #FFFFFF;
    bottom: 0px;
    left: 20px;
}
.member-details span{
    font-size: 14px;
}
.member-details i{
    padding: 0 5px;
}
.ion-logo-instagram{
    color: black;
    padding: 0 5px;
    font-size: 25px;
}
.ion-logo-twitter{
    color: black;
    padding: 0 5px;
    font-size: 25px;
}
.ion-logo-youtube{
    color: black;
    padding: 0 5px;
    font-size: 25px;
}
.ion-logo-dribbble{
    color: black;
    padding: 0 5px;
    font-size: 25px;
}
.ion-logo-facebook{
    color: black;
    padding: 0 5px;
    font-size: 25px;
}
.foros-container{
    margin: 15px 0;
}
.publicacion{
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}
.publicacion-light{
background-color: white ;
border: 2px solid #1a1a1a;
}
.publicacion-dark{
background-color: black;
border: 2px solid #1a1a1a;
color: #FFFFFF;
}

.publicacion h2{
    font-size: 70px;
    font-weight: 600;
}
.publicacion-dark h2{
    color: #FFFFFF;
}
.publicacion span{
    font-size: 20px;
}
.publicacion ul{
    list-style-type: square;
}
 .carousel{
     
     min-height: 240px;
     padding: 40px;
     border-radius: 2px;
     text-align: center;
 }
 .carousel p{
     font-size: 26px;
     font-weight: 400;
     color: #1a1a1a;
 }
 .carousel-indicators li{
    background-color: #1a1a1a;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
 }
 
 .carousel-control-next, .carousel-control-prev{
     color: #ffffff;
     opacity: 1;
     width: 5%;
 }
 .carousel-container{
    margin: 0 auto;
    width:800px;
    height:500px;
}

 .control-button{
     background-color: #1a1a1a;
     opacity: 1;
     width: 50px;
     height: 50px;
     padding: 10px;
     border: 1px solid #1a1a1a;
     font-size: 20px;
     border-radius: 50px;
}
  .footer{
    background: #383030;
    color:white;
  
  .links{
  ul {list-style-type: none;}
  li a{
    color: white;
    transition: color .2s;
  &:hover{
     text-decoration:none;
     color:#4180CB;
   }
  }
  }
  
  .about-company{
  i{font-size: 25px;}
  a{
    color:white;
    transition: color .2s;
  &:hover{color:#4180CB}
  }
  }
  
  .location{
  i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
  }

@media (max-width: 575.98px) { 
 h1{
     font-size: 40px;
     line-height: normal;
    }
.publicacion h2{
    min-width: unset;
    padding: 40px;
    }
.juegos-details{
    min-width: unset;
    padding: 40px;
    }    
 }
@media (min-width: 576px) and (max-width: 767.98px) { ... }
@media (min-width: 768px) and (max-width: 991.98px) { 
.publicacion{
    min-width: unset;
    padding: 40px 20px;
}
.juegos-details h2{
font-size: 30px;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
@media (min-width: 1200px) { ... }
